{% extends "base.html" %}
{% block title %}Moods{% endblock %}
{% block content %}
  <div>
<div class="alert alert-success" role="alert">
   <p class="text-uppercase font-weight-bold"> Green Zone Moods</p>
 <table class="table">
<tr>
    <td><a href= "/happy">Happy</a></td>
    <td><a href="/calm">Calm</a></td>
    <td><a href="/calm">Focused</a></td>
    <td><a href="/relaxed">Relaxed</a></td>
</tr>
</table>
    </div>
<div class="alert alert-info" role="alert">
   <p class="text-uppercase font-weight-bold"> Blue Zone Moods</p>
 <table class="table">
<tr>
    <td><a href="/sad">Sad</a></td>
    <td><a href="/sick">Sick</a></td>
    <td><a href="/tired">Tired</a></td>
    <td><a href="/bored">Bored</a></td>
</tr>
</table>
    </div><div class="alert alert-warning" role="alert">
   <p class="text-uppercase font-weight-bold"> Yellow Zone Moods</p>
 <table class="table">
<tr>
    <td><a href="/frustrated">Frustrated</a></td>
    <td><a href="/worried">Worried</a></td>
    <td><a href="/silly">Silly</a></td>
    <td><a href="/excited">Excited</a></td>
</tr>
</table>
    </div>
<div class="alert alert-danger" role="alert">
   <p class="text-uppercase font-weight-bold"> Red Zone Moods</p>
 <table class="table">
<tr>
    <td><a href="/angry">Angry</a></td>
    <td><a href="/terrified">Terrified</a></td>
    <td><a href="/ecstatic">Ecstatic<a/></td>
    <td><a href="/devastated">Devastated</a></td>
</tr>
</table>
    </div>

    </div>
 {% endblock %}
