{% extends "base.html" %}
{% set active_page = 'birthdays' %}
{% block title %} Birthdays {% endblock %}
{% block content %}
<div class="w-50">
<form method="post">
   {{ form.csrf_token }}
  <div class="mb-3">
    <fieldset class="form-field">
	{{ form.date.label(class="form-label") }}
	{{ form.date(class="form-control") }}
    </fieldset>
  </div>
  <div class="mb-3">
    <fieldset class="form-field">
	{{ form.number.label(class="form-label") }}
	{{ form.number(class="form-control") }}
    </fieldset>
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
</div>
<table class="table table-striped">
	<thead>
		<tr>
		    <th scope = "col">#</th>
		    <th scope = "col">Name</th>
		    <th scope = "col">Birth Year</th>
		</tr>
	</thead>
	<tbody>
	   {% for index in range(0, number) %}
		<tr>
		    <td class = "align-middle">{{ loop.index0 +1 }}</td>
		    <td class = "align-middle">{% if sortedbyClosestYear[index]['thumbnail'] is none %}<p>No image available</p>{% else %}<img src="{{ sortedbyClosestYear[index]['thumbnail'] }}" class="img-thumbnail" style="width:50px; height:auto" alt="no thumbail"> {% endif %}{{ sortedbyClosestYear[index]['text']}} </td>
		    <td class = "align-middle">{{ sortedbyClosestYear[index]['year'] }}</td>			 
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
