{% extends "base.html" %}
{% block title %}Moods{% endblock %}
{% block content %}
  <div>
<div class="alert alert-success" role="alert">
   <p class="text-uppercase font-weight-bold"> {{ title }}</p>
 Choose the gif that best describes your mood
    </div>
     <table class="table">
  <tbody>
<tr>
   <td>
    {% for gif in gifs %}
     <form method = "POST" action = "/mood" class="float-left" style="padding: 4px">
     <button type = "submit">
         <input type = "hidden" value= "{{ gif }}" name = "gif_url"> 
            <img src="{{ gif }}">
     </button>
     </form>
    {% endfor %}
    </td>
</tr>
</tbody>
</table>
    </div>
 {% endblock %}
