{% extends "base.html" %}
{% block title %}Mood History{% endblock %}
{% block content %}
  <div>
<div class="alert alert-success" role="alert">
   <p class="text-uppercase font-weight-bold"> {{ title }}</p>
 <p>Your Online Mood Journal</p>

            
    </div>
     <table class="table">
  <tbody>
<tr>
   <td>
    {% for gif in user.gifs %}
    
            <img src="{{ gif.gif_url }}" class="float-left thumbnail" style="padding: 4px">
            <p>{{ giftime }}</p>
    {% endfor %}
    </td>
</tr>
</tbody>
</table>
    </div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-62a3ef147187bbd9"></script>

 {% endblock %}
