{% extends "base.html" %}
{% set active_page = 'Zones' %}
{% block title %} Zones {% endblock %}
{% block content %}
<div>
<div class="alert alert-success" role = "alert">
<p class="text-uppercase font-weight-bold">Choose the picture that best fits your mood.</div>
<table class="table table-striped">
	<tbody>
		<tr>
		    <td class = "align-middle"><a href="/allmoods"><img src="https://drive.google.com/uc?id=11RpCBRxCqy2d6UQBpwQEyPvx6E1afqoK" style="height:120px; width:auto"></a></td>
		</tr>
		<tr>
		    <td class = "align-middle"><a href="/allmoods"><img src="https://drive.google.com/uc?id=1AZyKu-JEJQewISo85n0tTHahem6vV6B7" style="height:120px; width:auto"></a></td>
		</tr>
		<tr>
		    <td class = "align-middle"><a href="/allmoods"><img src="https://drive.google.com/uc?id=1--5x7_gXe_MXqsz5uaf3yIhZhk4ygb1O" style="height:120px; width:auto"></a></td>
		</tr>
		<tr>
		    <td class = "align-middle"><a href="/allmoods"><img src="https://drive.google.com/uc?id=1QBnfo5H9SzK0aAsf8_Nv-xWnF_IOD9G2" style="height:120px; width:auto"></a></td>
		</tr>

	</tbody>
</table></div>
{% endblock %}
