{% extends "base.html" %}
{% set active_page = 'Zones' %}
{% block title %} Zones {% endblock %}
{% block content %}
<div class="w-50">
</div>
<table class="table table-striped">
	<tbody>
		<tr>
		    <td class = "align-middle"><a href="/allmoods"><img src="https://i.bb.co/dWxggh/happy-01.png" style="height:120; width:auto"></a></td>
		</tr>
		<tr>
		    <td class = "align-middle"><a href="/allmoods"><img src="https://i.bb.co/SnYZKV9/sad-01.png" style="height:120; width:auto"></a></td>
		</tr>
		<tr>
		    <td class = "align-middle"><a href="/allmoods"><img src="https://i.bb.co/1JPCxvr/anxious-01.png" style="height:120; width:auto"></a></td>
		</tr>
		<tr>
		    <td class = "align-middle"><a href="/allmoods"><img src="https://i.bb.co/SOPcswZ/angry-01.png" style="height:120; width:auto"></a></td>
		</tr>

	</tbody>
</table>
{% endblock %}
