{% extends "starter.html" %}
{% set active_page = 'analytics' %}
{% block title %} Analytics {% endblock %}
{% block content %} 
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function cb(selection) {
        $.getJSON({
            url: "/callback", data: { 'data': selection }, success: function (result) {
                var config = {responsive: true}
                Plotly.newPlot('chart', result, config);
            }
        });
    }

    window.onload = function(){
        cb(city.options[city.selectedIndex].value)
    }
    window.onresize = function() {
        Plotly.Plots.resize('chart')
    };
</script>

<div class="card">
    <div class="card-header">
      Top 20 Coffee shops
    </div>
    <select id="city" class="form-control" onChange="cb(this.options[this.selectedIndex].value)">
        <option selected="{{mycity}}">{{mycity}}</option>
        <option value="Seattle, Washington">Seattle, Washington</option>
        <option value="Tacoma, Washington">Tacoma, Washington</option>
        <option value="Portland, Oregon">Portland, Oregon</option>
      </select>
    <div class="card-body" >
        <div id="chart" class="responsive-plot"></div>
    </div>
  </div>
 {% endblock %}
