<!DOCTYPE html>
<html>
{% extends "starter.html" %} {% set active_page = 'home' %} {% block title %} Home {% endblock %}
{% block header %} 
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJPK0US5k1xXH3Rjg8ZimotopTBCSGK2k"></script>
    <script>
        var map;
        var InforObj = [];
        var centerCords = {
            lat: 47.2529,
            lng: -122.4443
        };
        var markersOnMap = [
            {% for business in myData[0:10] %}
            {
                placeName: "{{business['name']}}",
                text: "{% for line in business['location']['display_address'] %}{{line}}<br>{% endfor %}",
                LatLng: [{
                    lat: {{business['coordinates']['latitude']}},
                    lng: {{business['coordinates']['longitude']}}
                }]
            },
            {% endfor %}
        ];

        window.onload = function () {
            initMap();
        };

        function addMarkerInfo() {
            for (var i = 0; i < markersOnMap.length; i++) {
                var contentString = '<div id="content"><h5>' + markersOnMap[i].placeName +
                    '</h5><p>' + markersOnMap[i].text+'</p></div>';

                const marker = new google.maps.Marker({
                    position: markersOnMap[i].LatLng[0],
                    map: map
                });

                const infowindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 200
                });

                marker.addListener('click', function () {
                    closeOtherInfo();
                    infowindow.open(marker.get('map'), marker);
                    InforObj[0] = infowindow;
                });
                 marker.addListener('mouseover', function () {
                     closeOtherInfo();
                     infowindow.open(marker.get('map'), marker);
                     InforObj[0] = infowindow;
                 });
                 marker.addListener('mouseout', function () {
                     closeOtherInfo();
                     infowindow.close();
                     InforObj[0] = infowindow;
                 });
            }
        }

        function closeOtherInfo() {
            if (InforObj.length > 0) {
                /* detach the info-window from the marker ... undocumented in the API docs */
                InforObj[0].set("marker", null);
                /* and close it */
                InforObj[0].close();
                /* blank the array */
                InforObj.length = 0;
            }
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: centerCords
            });
            addMarkerInfo();
        }
    </script>

  
{% endblock %}
{% block content %}
<div class="card">
  <img class="image-fluid" src="https://d368g9lw5ileu7.cloudfront.net/races/races-127xxx/127137/raceBanner-qZvNMCuU-bIk976.jpg">
  <div class="card-body">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
            Show map
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
<h5>Coffee Map</h5>
<!--The div element for the map -->
<div id="map"></div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Best coffee
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-inner" align="center">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src={{ myData[0][ 'image_url'] }} class="img-fluid" style="max-height:150px;" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-text">{{myData[0]['name']}}</h5>
                          <p class="card-text">{% for line in myData[0]['location']['display_address'] %} {{ line }}
                            <br> {% endfor %}</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% for business in myData[1:10] %}

                <div class="carousel-item" data-bs-interval="5000">

                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src={{ business[ 'image_url'] }} class="img-fluid" style="max-height:150px;" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-text">{{business['name']}}</h5>
                          <p class="card-text">{% for line in business['location']['display_address'] %} {{ line }}
                            <br> {% endfor %}</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Top 50 by Yelp rating
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Rating</th>
                </tr>
              </thead>
              <tbody>

                {% for business in myData %}
                <tr>
                  <td class="align-middle">{{ loop.index0 +1 }}</td>
                  <td class="align-middle"> <img src={{business[ 'image_url']}} class="img-thumbnail" style="max-height:50px;max-width:50px;">{{business['name']}}</td>
                  <td class="align-middle">{{ business['rating']}}</td>
                </tr>

                {% endfor %}

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}}
